body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #9B9B9B;
}

.credit-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.progress-bar {
    display: flex;
    margin-bottom: 30px;
}
.progress-bar .step {
    flex: 1;
    text-align: center;
    padding: 10px;
    position: relative;
}
.progress-bar .step .number {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    color: #fff;
    margin-bottom: 3px;
    font-weight: bold;
    font-size: 32px;
}
.progress-bar .step .text {
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
}
.progress-bar .step.completed {
    background-color: #00b3b0;
    color: #fff;
}
.progress-bar .step.completed .number {
    color: #fff;
}
.progress-bar .step.active {
    background-color: #ffd700;
}
.progress-bar .step.active::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ffd700;
}
.progress-bar .step.step2 {
    height: max-content;
    color: #30435C;
}
.progress-bar .step.step2 .number2 {
    color: #30435C;
}
.progress-bar .step.step3 {
    background-color: #9B9B9B;
}
.progress-bar .step.step3 .text {
    color: #fff;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}
.form-group input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    background-color: transparent;
    color: #00b5ad;
    font-weight: bold;
}
.form-group input:focus + label, .form-group input:valid + label {
    top: -15px;
    font-size: 12px;
    color: #30435C;
    font-weight: bold;
}
.form-group label {
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 16px;
    color: #999;
    transition: 0.3s ease all;
    pointer-events: none;
}

.recaptcha {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: #00C9C0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 2px;
    font-family: sans-serif;
    text-align: center;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.button .main-text {
    font-size: 14px;
    font-weight: bold;
    text-transform: none;
    display: block;
}
.button .sub-text {
    font-size: 12px;
    font-weight: normal;
    margin-top: 2px;
}